extends ../layouts/main-layout.pug

block content
  main
    div Total price - #{totalPrice}
    if productsInCart.length > 0
      ul
        each product in productsInCart
          li 
            p #{product.productId.name} - #{product.quantity}
            form(action="/delete-cart-product" method="POST")
              input(type="text" name="productId" value=(product._id) hidden)
              input(type="number" hidden name="price" value=(product.price))
              input(type='hidden' name='_csrf' value=csrfToken)
              button.btn Delete
      hr    
      //- form.centerEle(action="/orders" method="POST")
      //-   input(type='hidden' name='_csrf' value=csrfToken)
      //-   button.btn Order
      a(href="/checkout") Order Now
    else
      h1 The cart is empty